.lead {
  margin: 56px auto 0;
  padding: 0;
  width: 984px;
}

@media screen and (max-width: 1280px) {
  .lead {
    margin: 48px auto 0;
    width: 928px;
  }
}

@media screen and (max-width: 1024px) {
  .lead {
    width: 100%;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    margin: 40px auto 0;
  }
}
