.cover__subtitle {
  width: auto;
  max-width: 360px;
  margin: 16px;
  padding: 0;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  position: relative;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    margin-top: 32px;
    width: 360px;
    font-size: 18px;
    line-height: 1.22;
  }
}
