.lead__title {
  margin: 0 auto;
  padding: 0;
  width: 720px;
  min-height: 200px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-rendering: optimizeLegibility;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .lead__title {
    width: 288px;
    min-height: 88px;
    font-size: 40px;
    line-height: 1.1;
  }
}
